body {
  margin: 0;
  padding: 0;
  overflow: auto;
  color: #231f20;
  font-size: 14px;
  font-family: '微软雅黑', '宋体', sans-serif;
  background: #ffe;
}
a {
  color: #000;
  font-size: 14px;
}
#main {
  width: 100%;
}
#wrap {
  position: relative;
  width: 1100px;
  height: 680px;
  margin: 0 auto;
  margin-top: 10px;
}
#text {
  position: absolute;
  top: 80px;
  left: 60px;
  width: 400px;
  height: 425px;
}
#code {
  display: none;
  font-size: 16px;
}
#clock-box {
  position: absolute;
  top: 550px;
  left: 60px;
  display: none;
  font-size: 28px;
}
#clock-box a {
  font-size: 28px;
  text-decoration: none;
}
#clock {
  margin-left: 48px;
}
#clock .digit {
  font-size: 64px;
}
#canvas {
  width: 1100px;
  height: 680px;
  margin: 0 auto;
}
#error {
  display: none;
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
}
.hand {
  cursor: pointer;
}
.say {
  margin-left: 5px;
  font-size: 14px;
}
.space {
  margin-right: 150px;
}
